<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>靴と心理学</h2>
        <p>アメリカの大学の研究で、靴の写真を見せて、その靴の持ち主はどんな性格か答えさせたところ、靴を見て答えた回答が、その靴の持ち主の性格特性を反映していい
        たという研究がありました。今回はその研究手短なWebアプリケーションに落とし仕込んでみました。</br>
        エゴグラムというパーソナルをグラフで表すことができる心理テストを使いました。</p>
        <h2>アプリケーションの使い方と説明</h2>
        <h3>①人を見る目を養える！！</h3>
        <p>
        靴一覧から、靴を選んでください。</br>
        ５問の質問を答えてください。（持ち主がどんな人か後で、わかるのでその人がどんな人か想像してみて下さいね、靴以外からは情報がありません。）</br>
        すると、これまでその靴に対しての評価に加えあなたの評価も加算されたグラフとパーソナルな情報が出てきます。</br>
        エゴグラム一覧から、似たグラフがきっとあるはずです！そこに性格特性が、書いててあるのでみてみて下さいね。</br>
        最初にその人がどんな人か想像したのは当たってましたか？？多くの靴を見ているうちに靴の特性によって、どんな人かわかるようになるのは面白いので、ぜひいろんな靴を評価してみて下さい。
        </p>
        <h3>②自分でも知らなかった自分を知れる！</h3>
        <p>
          靴は自分でも知らないうちに、自らの性格特性を反映しています！。</br>
          無意識に性格が反映されている靴を、多くの他の人から評価から評価してもらいます。
          その評価してもらってできたグラフが、あなたのマイページにあります！
          ぜひエゴグラム一覧から、似ているグラフを見つけて自分でも知らなかったあたなの発見に役立てて下さい！
        </p>
        <p>
          ※このアプリの特性上１０人以上に評価してもらってできたグラフが有意なデータです！１０人未満の評価を見つけたら評価してあげて下さいね！
        </p>
      </div>
    </div>
</div>