<div class="container-fluid p-0">
  <div class="top-image">
      <div class="row text-center">
        <div class="col-12 abso-25">
        <h1 class="text-center pt-5	">靴を診断して性格が丸裸になったら<br>面白くないです？</h1>
        </div>
      </div>
      <div class="row text-center pt-5 d-flex align-items-center">
        <div class="col-12 abso-50">
          <%= link_to "新規登録", new_user_registration_path, class: "btn topbtn"%>
        </div>
      </div>
  </div>
</div>