/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $primary: #83725F;



 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.main{
  height: 1000px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
.field {
  margin: 0 auto;
  text-align: center;
}



.actions{
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 ;
}

.container{
  height: 80vh;
}


.footer{
  height: 9vh;
}

.top-image{
  background-image: image-url("2021-12-04_15.52.19.png");
    /* background-position: 0px 10px; */
    background-size: cover;
    position: relative;
    // opacity: 0.5;
    height: 50vh;
    width: 100%;
    min-height: 100vh;
    /* position: fixed; */
    color: #83725F;
}
.top-sign-up{
  text-align: center;
 /* margin-top: 500px;*/
}

.abso-25 {
  position: absolute;
  top: 25%;
}


.abso-50{
  position: absolute;
  top: 50%;
}

.radius-imgae{
  border-radius: 50%;
}

.graph {
    display:inline-block;
}

.question{
  display: inline;
}

.introduction h2{
  margin: 100px;
  color: #83725F;
}
.shose{

}

.graph{
  text-align: center;
  width: 300px;

}
canvas{
  text-align: center;
}

.submit{
  background-color: #83725F;
  color: white;
}




.btn{
  color: white;
  background-color: #83725F;
  box-shadow: 0 10px #4d3f36;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btn:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}

